

.counter {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.counter button {
  background: #C94D46;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}
